#ottWidget {
  all: unset;
  display: inline-block;
  font-family: Montserrat, sans-serif;
}
#ottWidgetContentContainer {
  border-radius: 8px;
  border: 1px solid #eee;
  background: #fff;
  display: flex;
  padding: 7px 16px 12px 12px;
  align-items: flex-end;
  gap: 10px;
  cursor: pointer;
}
#ottWidgetMainCaption {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  line-height: 10px;
}
#ottWidgetSubCaption {
  color: rgba(0, 0, 0, 0.5);
  font-size: 8px;
  font-weight: 500;
  line-height: 8px;
  margin-top: 6px;
}
#ottWidgetHotelInfo {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}
#ottWidgetRating {
  padding: 8px;
  background: #ffe81e;
  border-radius: 3px;
  display: none;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 10px;
}
